//FOOTER SECTION

footer {
  width: 100%;
  background-image: url(./assets/images/dark-wood.png);
  display: flex;
  justify-content: space-between;
  
  h3 {
    color: $brand-orange;
    font-weight: bold;
  }

  p {
    color: white;
  }

  strong {
    font-weight: bold;
  }

  span {
    width: 100%;
    position: absolute;
    align-self: flex-end;
    text-align: center;
    color: white;
    font-family: $accent-font;
    margin: $base-spacing;
  }

  img {
    width: 250px;
    height: auto;
    margin: $base-spacing * 2;
    margin-right: $base-spacing * 3;
    align-self: flex-start;
  }
}

#footer-info {
  display: flex;

  p {
    line-height: 2.5;
  }

  i {
    padding-right: 5px;
  }
}

.footer-contact{
  margin: $base-spacing * 2;
  margin-left: $base-spacing * 3;
  margin-bottom: $base-spacing * 4;
} 
.footer-business {
  margin: $base-spacing * 2;
  margin-bottom: $base-spacing * 4;
}


