//FOOTER SECTION

footer {
  background-image: url(./assets/images/dark-wood.png);
  display: flex;
  margin-top: 50px;
  
  h3 {
    color: $brand-orange;
    font-weight: bold;
  }

  p {
    color: white;
  }

  strong {
    font-weight: bold;
  }

  span {
    color: white;
    font-family: $accent-font;
  }
}

.footer-contact, .footer-business {
  margin: 50px;
}