#logo-small {
  width: 50px;
}

// .main-menu {
//   width: 100%;
//   height: 0px;
//   display: flex;
//   justify-content: flex-end;
// }

//ul {
//   //float: right; //doesnt do anything when flex is on
//   // display: flex; does not do anything
// position: absolute;
//text-align: right;
//}

//altering the width here pushes the logos right

li {
  float: left;
  padding: 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $accent-font;
  color: #ffffff;
}