//NAVIGATION
// nav {
//   display: flex;
//   justify-content: space-between;
//   position: fixed;
//   width: 100%;
// }

.white-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  li {
  float: left;
  padding: 10px;
  }
  a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $accent-font;
  color: #ffffff;
  }
}

#logo-small-white {
  width: 50px;
  margin-left: $base-spacing * 2;
}

.green-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  li {
  float: left;
  padding: 10px;
  }
  a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $accent-font;
  color: $brand-green;
  }
}

#logo-small-green {
  width: 50px;
  padding-left: 50px;
}

#menu-with-search {
  display: flex;
}
