//NAVIGATION

#logo-small {
  width: 50px;
  padding-left: 50px;
}

li {
  float: left;
  padding: 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $accent-font;
  color: #ffffff;
}