//SIDEBAR SECTION

.sidebar {
  float: right;
  display: flex;
  flex-direction: column;
  margin: $base-spacing * 2;

  h2 {
    color: $brand-purple;
    font-weight: bold;
    font-size: 20px;
  }

  strong {
    font-weight: bold;
  }

  p {
    line-height: 2.5;
  }
}  

