//SIDEBAR SECTION

.sidebar {
  width: 25%;
  float: right;
  display: flex;
  flex-direction: column;

  h2 {
    color: $brand-purple;
    font-weight: bold;
  }

  strong {
    font-weight: bold;
  }
}  

