//SIDEBAR SECTION

.sidebar {
  display: flex;
  flex-direction: column;
  padding: $base-spacing * 2;
  margin-right: $base-spacing * 3;
  border-left: 1px solid #e1e1e1;

  h2 {
    color: $brand-purple;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0px;
  }

  strong {
    font-weight: bold;
  }

  p {
    line-height: 2.5;
  }

  i {
    padding-right: 10px;
  }

  a {
    color: $brand-green;
    text-decoration: none;
  }
}  