//BUTTONS

//HOMEPAGE

.green-button {
  color: #ffffff;
  font-family: $accent-font;
  text-transform: uppercase;
  background-color: $brand-green;
  border: none;
  padding: 10px;
  margin: 10px;
}

.read-entry {
  color: #000000;
  font-family: $accent-font;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px 20px;
  margin: 10px;
  margin-top: $base-spacing;
  margin-bottom: 15px;
}

.read-more-clear {
  color: #ffffff;
  font-family: $accent-font;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  margin-top: $base-spacing;
}

//JOURNAL PAGE
.white-button {
  color: #000000;
  font-family: $accent-font;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px 20px;
  margin-top: $base-spacing;
}


//SOCIAL NETWORK BUTTONS
.sns-individual {
  color: #000000;
  font-family: $accent-font;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px 20px;
  margin-top: $base-spacing;
  margin-right: $base-spacing;
}

.sns-buttons {
  display: flex;
  margin-left: $base-spacing * 10;
}

.sns-buttons-journal {
  display: flex;
}