//FIND US PAGE
#contact-page {
  margin: $base-spacing * 2;
  margin-left: $base-spacing * 3;
}

#contact-title {
  font-family: $accent-font;
  font-weight: bold;
  margin: $base-spacing 0 $base-spacing 0;
}

.contact {
  h2 {
  color: $brand-purple;
  font-family: $accent-font;
  font-weight: bold;
  margin: $base-spacing 0 $base-spacing 0;
  }
  p {
    width: 60%;
  }
}

label {
  color: $brand-purple;
  font-family: $accent-font;
  text-transform: uppercase;

  input {
    background-color: $brand-light-grey;
    border: 1px solid $brand-med-grey;
  }
}

#asterix {
  color: $brand-orange;
}