//HOME PAGE

body {
  background: #ffffff;
  width: 100%;
  font-size: 16px;
  color: $main-font-color;
  line-height: 1.75;
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
font-family: $accent-font;
}

.hero-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/home-hero.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

#logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo-big {
  width: 225px;
}