//JOURNAL POSTS

.journal-post-img {
  display: flex;

  img {
    width: 800px;
    height: auto;
    position: relative;
  }

  h2 {
    width: 375px;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: $accent-font;
    font-weight: bold;
    background-color: $brand-green;
    padding: 10px 20px;
    margin-top: 30px;
    line-height: 1;
  }

  span {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: $accent-font;
    font-weight: bold;
    background-color: $brand-green;
    padding: 10px 20px;
    align-self: flex-end;
  }
}

.author {
  display: flex;
  justify-content: flex-end;
}

.journal-post {
  height: auto;
  margin: $base-spacing * 2;
  margin-left: $base-spacing * 3;
  margin-top: $base-spacing * 3;

  p {
    margin: $base-spacing 0;
  }
}

//INDIVIDUAL JOURNAL POSTS
#single-journal-content {
  margin: $base-spacing 0;
}
.journal-tags {
  display: flex;
  flex-direction: row;
  
  a {
    color: $brand-green;
    text-transform: uppercase;
    text-decoration: none;
  }
}

#journal-category {
  display: flex;
  flex-direction: row;
}

#journal-tags {
  margin-left: $base-spacing;
}