//JOURNAL POSTS
.journal-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar-grid {
  grid-row-start: 1;
  grid-row-end: 5;  
}

.journal-post-img {
  display: flex;
  padding: 20px 0px;

  img {
    width: 800px;
    height: auto;
    position: relative;
  }

  h2 {
    width: 375px;
    position: absolute;
    z-index: 1;
    color: white;
    font-family: $accent-font;
    font-weight: bold;
    background-color: $brand-green;
    padding: 10px 20px;
    margin-top: 30px;
    line-height: 1;
  }

  span {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: $accent-font;
    font-weight: bold;
    background-color: $brand-green;
    padding: 10px 20px;
    align-self: flex-end;
  }
}

.author {
  display: flex;
  justify-content: flex-end;
}

.journal-post {
  width: 800px;
  height: auto;
  margin: $base-spacing * 2;
}

//INDIVIDUAL JOURNAL POSTS