//PRODUCT ARCHIVE PAGE

#shop-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-title {
  color: $main-font-color;
  text-transform: uppercase;
  font-family: $accent-font;
  font-weight: bold;
  padding: 20px;
}

#shop-links a {
  color: $brand-green;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#shop-links li {
  float: left;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #e1e1e1;
  margin-top: $base-spacing;

}

.shop-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 5px #e1e1e1;
}

.archive-product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.archive-product-title {
  color: $brand-purple;
  text-align: left;
  margin: 10px 10px;
}

.archive-product-price {
  text-align: right;
  margin: 10px 10px;
}



//SINGLE PRODUCT PAGE
.product-page {
  display: flex;
  flex-direction: row;
}

#product-img {
  width: 40%; //400px
  height: auto;
  margin: ($base-spacing * 2);
}

#product-heading {
  color: $brand-orange;
  text-transform: uppercase;
  font-family: 'Novecento';
  font-weight: bold;
  // margin: ($base-spacing * 2) 0 $base-spacing 0;
  margin-top: ($base-spacing *2)
}

// .product-info {

// }

.price {
  margin-bottom: $base-spacing;
}
