//SEARCH RESULTS PAGE
.search-page {
  margin: $base-spacing * 2;

  h1 {
  font-weight: bold;
  font-size: 40px;
  }
}

.search-results{

  h2 {
  color: $brand-green;
  font-weight: bold;
  padding: $base-spacing 0px $base-spacing 0px;
  }

  button {
    margin-bottom: $base-spacing;
  }
}
// 

//SEARCH BAR
// .header-search {
//   position: absolute;
// }
//.search-toggle

//.fa fa-search

//#search-submit