//VARIABLES

//Fonts
$main-font-color: #404040;
$main-font: 'Merriweather';
$accent-font: 'Novecento';

//Borders
$solid-border: 1px solid #e1e1e1;
$dashed-border: 1px dashed #c8c8c8;

//Theme Colours
$brand-green: #248A83;
$brand-purple: #2f1339;
$brand-orange: #d99054;
$brand-yellow: #f0e4d1;
$brand-light-grey: #a1a1a1;
$brand-med-grey: #808080;

$base-spacing: 1.5rem;